<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://use.fontawesome.com/1b07b30564.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= id %>_Family</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/main.css">    
</head>
<body>
`
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">

        <a class=" btn-outline-success mr-2" href="/index">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <div class="btn-group mr-2">
                <button type="button" class="btn  dropdown-toggle btn-outline-success " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Members
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#batch-2020-vis" id="batch-2020-nav">2015_Batch</a>
                <a class="dropdown-item" href="#batch-2021-vis" id="batch-2021-nav">2016_Batch</a>
                <a class="dropdown-item" href="#batch-2022-vis" id="batch-2022-nav">2017_Batch</a>
                <a class="dropdown-item" href="#batch-2023-vis" id="batch-2023-nav">2018_Batch</a>
                <a class="dropdown-item" href="#batch-2024-vis" id="batch-2024-nav">2019_Batch</a>
                <a class="dropdown-item" href="#batch-2025-vis" id="batch-2025-nav">2020_Batch</a>
                </div>
            </div>

            <div class="btn-group mr-2">
                <button type="button" class="btn btn-outline-success " href="#" id="button">Events</button>
            </div>

            <form class="form-inline my-2 my-lg-0  ml-auto  ">
                <button class="btn btn-outline-success my-2 my-sm-0" ><a href="/add" > Add</a></button> 
            </form>
            
        </div>
</nav>

<div id="intro_image">  
<div id="statesImage" >
<% if (id  == 'Maharashtra') { %>
    <div class="jumbotron jumbotron-fluid img-responsive" id="home" style="background-size: cover; object-fit: stretch" >
        <img src="https://images.indianexpress.com/2020/07/ganesh1.jpg" class="img-responsive">
    </div>
<%} else if (id == 'Uttar Pradesh') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://wallpapercave.com/wp/wp6016809.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'Bihar') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Chhatisgarh') { %>
    
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://static.toiimg.com/thumb/msid-73799274,imgsize-601814,width-800,height-600,resizemode-75/73799274.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Jharkhand') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Haryana') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Telangana') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Gujrat') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Andhra Pradesh') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Rajasthan') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Delhi') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Punjab') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Madhya Pradesh') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Karnataka') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Himachal Pradesh') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Odisha') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Tamil Nadu') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Uttarakhand') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Kerala') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Assam') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Bengal') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Jammu and Kashmir') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Arunachal Pradesh') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
<%} else if (id == 'Goa') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Sunset_view_of_Ganga_Ghat.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " >
    </div>
</div>

<div id="branchesImage">
<%} else if (id == 'Mathematics and Computing') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://ecms.adelaide.edu.au/sites/default/files/styles/ua_landscape/public/pure-maths-900px.jpg?itok=56ENjKEx);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Computer Science') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://d3b8hk1o42ev08.cloudfront.net/wp-content/uploads/2018/08/computer-science-header-1-752x347.jpg);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Electronics and Communication') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://wallpapercave.com/wp/wp3686758.jpg);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Electrical Engineering') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Mining Engineering') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://images.unsplash.com/photo-1587919968590-fbc98cea6c9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Petroleum Engineering') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://wallpapercave.com/wp/wp2450495.jpg);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Chemical Engineering') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://assets.new.siemens.com/siemens/assets/api/uuid:bcce547f-cb07-403d-be08-2808c066cf3a/width:1125/quality:high/oil-refinery-chemical-annd-petrochemical-plant.jpg);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Mining Machinery') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://cdn.hipwallpaper.com/i/19/38/ixJqrD.jpg);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Civil Engineering') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://images.pexels.com/photos/2138126/pexels-photo-2138126.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Mechanical Engineering') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://images.pexels.com/photos/159298/gears-cogs-machine-machinery-159298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Engineering Physics') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://image.freepik.com/free-vector/chalkboard-with-science-physics-formulas-background_97886-4558.jpg);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Environmental Engineering') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://744025.smushcdn.com/1245953/wp-content/uploads/2019/05/jason-blackeye-OyhwA8FX8Cw-unsplash.jpg?lossy=1&strip=1&webp=1);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Mineral Engineering') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://www.gres.com.au/theme/grescomau/assets/public/Image/home/featured/aboutgrs-1.jpg);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Applied Geology') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://744025.smushcdn.com/1245953/wp-content/uploads/2019/05/christopher-burns-C1J_eSGNPt0-unsplash.jpg?lossy=1&strip=1&webp=1);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
<%} else if (id == 'Applied Geophysics') { %>
<div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://erdw.ethz.ch/en/studies/master/applied-geophysics/_jcr_content/par/fullwidthimage/image.imageformat.fullwidth.1056720462.jpg);    height: 50vh; object-fit: stretch; height: 98vh; background-size: cover; " ></div>
</div>

<div id="clubsImage">
<%} else if (id == 'ARKA') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://i.pinimg.com/originals/e1/87/0c/e1870cfee5e05fe14712c92ae9bbadeb.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div> 
<%} else if (id == 'E-Cell') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://static.timesofisrael.com/www/uploads/2018/09/iStock-808337406.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div> 
<%} else if (id == 'Cyber labs') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://blog.radware.com/wp-content/uploads/2018/11/AdobeStock_215123311-1.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div> 
<%} else if (id == 'RoboISM') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://wallpoper.com/images/00/29/72/26/robots-3d_00297226.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div> 
<%} else if (id == 'Mailer Daemon') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://cdn.searchenginejournal.com/wp-content/uploads/2019/09/647e8cc9-69cd-4fcf-bed8-2ccba7931ef7.jpeg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div> 
<%} else if (id == 'Udaan') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://studyrama-budget.com/wp-content/uploads/2018/11/Great-Careers.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div> 
<%} else if (id == 'LITM') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://i.pinimg.com/originals/93/40/1a/93401aa30edaf0047548756c87c85092.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div> 
<%} else if (id == 'Artfreaks') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://wallpapercave.com/wp/wp2446685.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div> 
<%} else if (id == 'Manthan') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://theartmad.com/wp-content/uploads/2015/08/Music-Wallpaper-1.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div> 
<%} else if (id == 'Fotofreaks') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://c1.wallpaperflare.com/preview/25/513/175/people-camera-people-technology.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'Sports') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://cdn.hipwallpaper.com/i/17/18/tBm1SI.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'Black Knight chess club') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://i.pinimg.com/originals/b0/f7/45/b0f745906959b60ccd4c994b10f7aa5a.png);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'FFI') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://c.files.bbci.co.uk/182FF/production/_107317099_blooddonor976.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'AISEC') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://www.standard.com/sites/default/files/styles/newsletter_hero/public/05.SalesIdea_December2019_ForeignNationals.jpg?itok=vtcUvrpr);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'LCI') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://jenjon.in/wp-content/uploads/2015/08/pegasus_LARGE_t_1581_106603064.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'ADC') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://www.nationaloperahouse.ie/images/made/images/pages/wdf_2020_banner_1056_575_85_c1_center_center.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'WTC') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://wallpaperdj.com/wallpapers/_between_the_rays-1920x1080.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'LITC') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://static.wixstatic.com/media/7fe4e3_bcb3ec64573c4e3b88f198ededce9b45~mv2.jpg/v1/fill/w_1000,h_500,al_c,q_90,usm_0.66_1.00_0.01/7fe4e3_bcb3ec64573c4e3b88f198ededce9b45~mv2.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'Quiz Club') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://www.elegantthemes.com/blog/wp-content/uploads/2019/04/buzzfeed-quiz.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div> 
<%} else if (id == 'Toastmaster') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://i2.wp.com/discovermni.com/wp-content/uploads/2020/01/toastmasters.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'Rythm') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://thewellspring.org/wp-content/uploads/2013/09/265116-art-of-living-course.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'Kartavya') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://s4.scoopwhoop.com/anj/df/b6bb3c41-c480-4450-aaa8-c61c65e99a0c.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>
<%} else if (id == 'Chayanika') { %>
    <div class="jumbotron jumbotron-fluid " id="home" style="background-image: url(https://www.wallpapertip.com/wmimgs/62-627360_hindi-sad-love-romantic-shayari-photo-wallpaper-pictures.jpg);    background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh; background-size: cover; " ></div>


</div>
</div>

<% } %> 

<ul class="nav nav-tabs  " >
    <li class="nav-item  ml-auto mr-2 border " id="members" >
      <div class="nav-link active " id="member-active" href="#">Members</div>
    </li>
    <li class="nav-item mr-3 border border-active " id="events-Btn" >
        <div class="nav-link " id="event-active" href="#">Events</div>
    </li>
</ul>


<% var key = Object.keys(firebase); %>

<div id="batches">
    <div class="dropdown" id="batch2020">
        <div class="btn btn-secondary dropdown-toggle" style="width: 100%;">2015-Batch</div>
    </div>
    <div class="d-none" id="batch-2020-vis">
        <div class="  d-flex flex-column align-items-center m-3 " style="width: 94%;margin: auto;">
            <div class="batch-name">2015 -Batch</div> 
            <div class="container d-flex justify-content-around flex-column">
                <div class="row justify-content-around ">    
                                                  
                    <%for(var i = 0; i<key.length; i++){ %>
                        <% if(firebase[key[i]].year == 2015 && ( firebase[key[i]].branch == id || firebase[key[i]].state == id || firebase[key[i]].club == id )){ %>
                            <div class="card m-3"onclick="this.classList.toggle('expanded')" style="width: 18rem;">
                                <div class="img-container">
                                    <img src="<%= firebase[key[i]].url %>" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body ">
                                    <p class="card-text">
                                        <div><%= firebase[key[i]].name %></div>
                                        <div><%= firebase[key[i]].place %> , <%= firebase[key[i]].state %>< </div>
                                        <div><%= firebase[key[i]].branch %> </div>
                                    </p>
                                    <div class="intern">Intern : <%= firebase[key[i]].intern %><br>Placed : <%= firebase[key[i]].placed %></div> </div>

                                    <svg class="chevron"  viewBox="0 0 100 105" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#f00" stroke-width="5"/></svg>
                            </div>
                            <% } %>
                    <%}%>

                </div>  
            </div>
        </div>
    </div>



    <div class="dropdown" id="batch2021">
        <div class="btn btn-secondary dropdown-toggle" style="width: 100%;">2016-Batch</div>
    </div>
    <div class="d-none" id="batch-2021-vis">
        <div class="  d-flex flex-column align-items-center m-3 " style="width: 94%;margin: auto;">
            <div class="batch-name">2016 -Batch</div> 
            <div class="container d-flex justify-content-around flex-column">
                <div class="row justify-content-around ">    
                                                  
                    <%for(var i = 0; i<key.length; i++){ %>
                        <% if(firebase[key[i]].year == 2016 && ( firebase[key[i]].branch == id || firebase[key[i]].state == id || firebase[key[i]].club == id )){ %>
                            <div class="card m-3"onclick="this.classList.toggle('expanded')" style="width: 18rem;">
                                <div class="img-container">
                                    <img src="<%= firebase[key[i]].url %>" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body ">
                                    <p class="card-text">
                                        <div><%= firebase[key[i]].name %></div>
                                        <div><%= firebase[key[i]].place %> , <%= firebase[key[i]].state %>< </div>
                                        <div><%= firebase[key[i]].branch %> </div>
                                    </p>
                                    <div class="intern">Intern : <%= firebase[key[i]].intern %><br>Placed : <%= firebase[key[i]].placed %></div> </div>

                                    <svg class="chevron"  viewBox="0 0 100 105" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#f00" stroke-width="5"/></svg>
                            </div>
                            <% } %>
                    <%}%>

                </div>  
            </div>
        </div>
    </div>


    <div class="dropdown" id="batch2022">
        <div class="btn btn-secondary dropdown-toggle" style="width: 100%;" >2017-Batch</div>
    </div>
    <div class="d-none" id="batch-2022-vis">
        <div class="  d-flex flex-column align-items-center m-3 " style="width: 94%;margin: auto;">
            <div class="batch-name">2017 -Batch</div> 
            <div class="container d-flex justify-content-around flex-column">
                <div class="row justify-content-around">    
                        
                           
                    <%for(var i = 0; i<key.length; i++){ %>
                        <% if(firebase[key[i]].year == 2017 && ( firebase[key[i]].branch == id || firebase[key[i]].state == id || firebase[key[i]].club == id )){ %>
                            <div class="card m-3"onclick="this.classList.toggle('expanded')" style="width: 18rem;">
                                <div class="img-container">
                                    <img src="<%= firebase[key[i]].url %>" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body ">
                                    <p class="card-text">
                                        <div><%= firebase[key[i]].name %></div>
                                        <div><%= firebase[key[i]].place %> , <%= firebase[key[i]].state %>< </div>
                                        <div><%= firebase[key[i]].branch %> </div>
                                    </p>
                                    <div class="intern">Intern : <%= firebase[key[i]].intern %><br>Placed : <%= firebase[key[i]].placed %></div> </div>

                                    <svg class="chevron"  viewBox="0 0 100 105" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#f00" stroke-width="5"/></svg>
                            </div>
                            <% } %>
                    <%}%>
                        
                        
                </div>  
            </div>
        </div>
    </div>


    <div class="dropdown" id="batch2023">
        <div class="btn btn-secondary dropdown-toggle" style="width: 100%;" >2018-Batch</div>
    </div>
    <div class="d-none" id="batch-2023-vis">
        <div class="  d-flex flex-column align-items-center m-3 " style="width: 94%;margin: auto;">
            <div class="batch-name">2018 -Batch</div> 
            <div class="container d-flex justify-content-around flex-column">
                <div class="row justify-content-around">    

                    <%for(var i = 0; i<key.length; i++){ %>
                        <% if(firebase[key[i]].year == 2018 && ( firebase[key[i]].branch == id || firebase[key[i]].state == id || firebase[key[i]].club == id )){ %>
                            <div class="card m-3"onclick="this.classList.toggle('expanded')" style="width: 18rem;">
                                <div class="img-container">
                                    <img src="<%= firebase[key[i]].url %>" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body ">
                                    <p class="card-text">
                                        <div><%= firebase[key[i]].name %></div>
                                        <div><%= firebase[key[i]].place %> , <%= firebase[key[i]].state %>< </div>
                                        <div><%= firebase[key[i]].branch %> </div>
                                    </p>
                                    <div class="intern">Intern : <%= firebase[key[i]].intern %><br>Placed : <%= firebase[key[i]].placed %></div> </div>

                                    <svg class="chevron"  viewBox="0 0 100 105" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#f00" stroke-width="5"/></svg>
                            </div>
                            <% } %>
                    <%}%>

                </div>  
            </div>
        </div>
    </div>

    <div class="dropdown" id="batch2024">
        <div class="btn btn-secondary dropdown-toggle" style="width: 100%;" >2019-Batch</div>
    </div>
    <div class="" id="batch-2024-vis">
        <div class="  d-flex flex-column align-items-center m-3 " style="width: 94%;margin: auto;">
            <div class="batch-name">2019-Batch</div> 
            <div class="container d-flex   flex-column">  
                <div class="row justify-content-around">    
                    
                        <%for(var i = 0; i<key.length; i++){ %>
                            <% if(firebase[key[i]].year == 2019 && ( firebase[key[i]].branch == id || firebase[key[i]].state == id || firebase[key[i]].club == id )){ %>
                                <div class="card m-3"onclick="this.classList.toggle('expanded')" style="width: 18rem;">
                                    <div class="img-container">
                                        <img src="<%= firebase[key[i]].url %>" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body ">
                                        <p class="card-text">
                                            <div><%= firebase[key[i]].name %></div>
                                            <div><%= firebase[key[i]].place %> , <%= firebase[key[i]].state %>< </div>
                                              <div><%= firebase[key[i]].branch %> </div>
                                        </p>
                                        <div class="intern">Intern : <%= firebase[key[i]].intern %><br>Placed : <%= firebase[key[i]].placed %></div> </div>

                                        <svg class="chevron"  viewBox="0 0 100 105" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#f00" stroke-width="5"/></svg>
                                </div>
                                <% } %>
                        <%}%>
                </div>  
            </div>
        </div>
    </div>  

    <div class="dropdown" id="batch2025">
        <div class="btn btn-secondary dropdown-toggle" style="width: 100%;" >2020-Batch</div>
    </div>
    <div class="" id="batch-2025-vis">
        <div class="  d-flex flex-column align-items-center m-3 " style="width: 94%;margin: auto;">
            <div class="batch-name">2020-Batch</div> 
            <div class="container d-flex   flex-column">  
                <div class="row justify-content-around">    
                    
                        <%for(var i = 0; i<key.length; i++){ %>
                            <% if(firebase[key[i]].year == 2020 && ( firebase[key[i]].branch == id || firebase[key[i]].state == id || firebase[key[i]].club == id )){ %>
                                <div class="card m-3"onclick="this.classList.toggle('expanded')" style="width: 18rem;">
                                    <div class="img-container">
                                        <img src="<%= firebase[key[i]].url %>" class="card-img-top" alt="...">
                                    </div>
                                    <div class="card-body ">
                                        <p class="card-text">
                                            <div><%= firebase[key[i]].name %></div>
                                            <div><%= firebase[key[i]].place %> , <%= firebase[key[i]].state %>< </div>
                                            <div><%= firebase[key[i]].branch %> </div>
                                        </p>
                                        <div class="intern">Intern : <%= firebase[key[i]].intern %><br>Placed : <%= firebase[key[i]].placed %></div> </div>

                                        <svg class="chevron"  viewBox="0 0 100 105" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#f00" stroke-width="5"/></svg>
                                </div>
                                <% } %>
                        <%}%>
                </div>  
            </div>
        </div>
    </div>   

   
</div>

<div id="events" class="d-none " >
    <!-- <div  class=" d-flex flex-column align-items-center m-3 mb-4" id="freshers-2018">
        <img src="public/IMG_20201008_214032.jpg" class="img-fluid m-3" alt="Responsive image">
        General meetup
    </div>

    <div  class=" d-flex flex-column align-items-center m-3 mb-4" id="ganesh-chaturthi-2019">
        <img src="/public/Screenshot_2020-10-08-20-20-00-25.png" class="img-fluid m-3" alt="Responsive image">

        Shubh Vivah
    </div>
    <div  class=" d-flex flex-column align-items-center m-3 mb-4" id="others">
        <video width="400" controls>
            <source src="public/VID-20201008-WA0045.mp4" type="video/mp4">
        </video>
        Others
    </div> -->
    
        <% if(id == 'Chhatisgarh'){ %>
        <div  class=" d-flex flex-column align-items-center m-3 mb-4" id="ganesh-chaturthi-2019">
            <img src="/public/Chhatisgarh_freshers_2019(1).JPG" class="img-fluid m-3" alt="Responsive image">
            <img src="/public/Chhatisgarh_freshers_2019(2).JPG" class="img-fluid m-3" alt="Responsive image">
            Freshers 2019
        </div>
        <div  class=" d-flex flex-column align-items-center m-3 mb-4" id="ganesh-chaturthi-2019">
            <img src="/public/Chhatisgarg_others(1).jpg" class="img-fluid m-3" alt="Responsive image">
            <img src="/public/Chhatisgarg_others(2).jpg" class="img-fluid m-3" alt="Responsive image">
            Others
        </div>
        <% } %>

        <% if(id == 'Artfreaks'){ %>
            <div  class=" d-flex flex-column align-items-center m-3 mb-4" id="ganesh-chaturthi-2019">
                <img src="/public/Srijan_Artfreaks_2019(1).jpg" class="img-fluid m-3" alt="Responsive image">
                <img src="/public/Srijan_Artfreaks_2019(2).jpg" class="img-fluid m-3" alt="Responsive image">
                Srijan 2019
            </div>
            <div  class=" d-flex flex-column align-items-center m-3 mb-4" id="ganesh-chaturthi-2019">
                <img src="/public/Tejas_drawing(1).jpg" class="img-fluid m-3" alt="Responsive image">
                <img src="/public/Tejas_drawing(2).jpg" class="img-fluid m-3" alt="Responsive image">
                <img src="/public/Tejas_drawing(3).jpg" class="img-fluid m-3" alt="Responsive image">
                Tejas Drawing
            </div>
            <div  class=" d-flex flex-column align-items-center m-3 mb-4" id="ganesh-chaturthi-2019">
                <img src="/public/Adhyaay_Drawing(1).jpg" class="img-fluid m-3" id="ganesh-chaturthi-2019 alt="Responsive image">
                <img src="/public/Adhyaay_Drawing(2).jpg" class="img-fluid m-3" id="ganesh-chaturthi-2019 alt="Responsive image">
                <img src="/public/Adhyaay_Drawing(3).jpg" class="img-fluid m-3" id="ganesh-chaturthi-2019 alt="Responsive image">
                Adhyaay Digital Art
            </div3>
        <% } %>
    <div style="text-align: center;"> To add images and videos of events happened in this state/branch/club contact Saurabh Tiwari</div>
</div>

<span class="d-flex justify-content-center " style="font-size:x-large;">
    &COPY; Saurabh Tiwari
</span> 
<span class="d-flex justify-content-center mb-4" >
    <a href="https://www.facebook.com/profile.php?id=100040826810733"><i class="fa fa-facebook-square m-2 mt-auto" style="font-size: 40px; color: rgb(	66, 103, 178);" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/thesdtiwari/"><i class="fa fa-instagram m-2 mt-auto" style="font-size: 40px; color: rgb(225,48,108);" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/thesdtiwari/"><i class="fa fa-linkedin-square m-2 mt-auto" style="font-size: 40px; color: rgb(14,118,168);" aria-hidden="true"></i></a>
</span> 

<script type="text/javascript"  src="/main.js"></script>

</body>
</html>  