<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISM_Families</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class=" btn-outline-success mr-2" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <div class="btn-group mr-2">
                <button type="button" class="btn  dropdown-toggle btn-outline-success " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                States
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="/maharashtra">Maharashtra</a>
                <a class="dropdown-item" href="/maharashtra">Utter Pradesh</a>
                <a class="dropdown-item" href="/maharashtra">Jharkhand</a>
                <a class="dropdown-item" href="/maharashtra">Bihar</a>
                <a class="dropdown-item" href="/maharashtra">Rajasthan</a>
                <a class="dropdown-item" href="/maharashtra">Haryana</a>
                <a class="dropdown-item" href="/maharashtra">Himachal</a>
                <a class="dropdown-item" href="/maharashtra">Punjab</a>
                <a class="dropdown-item" href="/maharashtra">Assam</a>
                <a class="dropdown-item" href="/maharashtra">Andhra Pradesh</a>
                <a class="dropdown-item" href="/maharashtra">Telengana</a>
                <a class="dropdown-item" href="/maharashtra">Orissa</a>
                <a class="dropdown-item" href="/maharashtra">Bengal</a>
                <a class="dropdown-item" href="/maharashtra">Gujrat</a>
                <a class="dropdown-item" href="/maharashtra">Madhya Pradesh</a>
                </div>
            </div>


            
            <div class="btn-group mr-2">
                <button type="button" class="btn  dropdown-toggle btn-outline-success " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Branches
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="/maharashtra">CSE</a>
                <a class="dropdown-item" href="/maharashtra">MnC</a>
                <a class="dropdown-item" href="/maharashtra">ECE</a>
                <a class="dropdown-item" href="/maharashtra">EE</a>
                <a class="dropdown-item" href="/maharashtra">ME</a>
                <a class="dropdown-item" href="/maharashtra">PE</a>
                <a class="dropdown-item" href="/maharashtra">CE</a>
                <a class="dropdown-item" href="/maharashtra">MME</a>
                <a class="dropdown-item" href="/maharashtra">Civil</a>
                <a class="dropdown-item" href="/maharashtra">Mech</a>
                </div>
            </div>
            

            <div class="btn-group mr-2">
                <button type="button" class="btn  dropdown-toggle  btn-outline-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clubs
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="/maharashtra">ARCA</a>
                <a class="dropdown-item" href="/maharashtra">E-Cell</a>
                <a class="dropdown-item" href="/maharashtra">Cyber labs</a>
                <a class="dropdown-item" href="/maharashtra">RoboISM</a>
                <a class="dropdown-item" href="/maharashtra">MD</a>
                <a class="dropdown-item" href="/maharashtra">Udaan</a>
                <a class="dropdown-item" href="/maharashtra">LITC</a>
                <a class="dropdown-item" href="/maharashtra">WTC</a>
                <a class="dropdown-item" href="/maharashtra">LITM</a>
                </div>
            </div>

            <form class="form-inline my-2 my-lg-0  ml-auto  ">
              <button class="btn btn-outline-success my-2 my-sm-0" ><a href="/add" > Add</a> </button> 
            </form>
            
        </div>
      </nav>

    <div class="jumbotron jumbotron-fluid "  style="background-image: url(https://www.iitismlib.ac.in/wp-content/themes/ism/images/slide1.png);  background-size: cover;  height: 100vh; object-fit: stretch; " >
        <div class="container text-center">
          <h1 class="display-4"  style="color: brown; font-weight: 800;">ISM_Families</h1>
          <p class="lead  " style="color: brown; font-weight: 800;" >उत्तिष्ठ जाग्रत प्राप्य वरान्निबोधत</p>
        </div>
      </div>    
      <ul class="nav nav-tabs ml-auto" id="myTab" role="tablist">
          <li class="nav-item " id="states-btn">
            <a class="nav-link active " id="home-tab" data-toggle="tab" >States</a>
          </li>
          <li class="nav-item" id="branches-btn">
            <a class="nav-link" id="profile-tab" data-toggle="tab" >Branches</a>
          </li>
          <li class="nav-item" id="clubs-btn">
            <a class="nav-link" id="contact-tab" data-toggle="tab"  >Clubs</a>
          </li>
      </ul>

      
    <a href="/maharashtra" style="text-decoration: none;" >  
      <div class="states" id="states">
        <div class="row row-cols-1 row-cols-md-3 d-flex d-flex align-items-stretch ">
            <div class="col mb-4  ">
              <div class="card h-100" >
                <img src="https://blog.praveenbardapurkar.com/wp-content/uploads/2016/02/maharashtra.jpg" class="card-img-top" alt="...">
                <div class="card-body"  >
                  <h5 class="card-title" id="mh" >MAHARASHTRA</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus optio, doloribus quos illum, temporibus, perferendis sed omnis alias earum deserunt tenetur sint recusandae eveniet dignissimos et distinctio! Alias sequi nemo, unde doloribus sed repellat est? Sint atque dolores laboriosam consectetur libero reiciendis voluptatum, tenetur dignissimos? Consectetur ipsum possimus impedit eos tenetur vitae. Reprehenderit nostrum rem ipsa fugit. Doloribus ad illo voluptate velit distinctio, repellendus aliquid nihil? Ut nobis officia totam ipsam magni aliquid velit voluptates magnam, minima culpa, rem odio modi reprehenderit quae dolor enim corporis architecto molestias eligendi tempore impedit! Alias quo sequi nulla, est sit quaerat! Adipisci, iure!.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4 ">
              <div class="card h-100">
                <img src="https://www.onefivenine.com/images/StateMaps/Uttar%20Pradesh.jpg" class="card-img-top" alt="...">
                <div class="card-body h-100">
                  <h5 class="card-title">UTTAR PRADESH</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis repellendus quaerat eius quasi animi? Corporis animi tempore minus fugit, omnis maiores rerum molestias non odit iusto adipisci officia labore neque.
                  </p>
                </div>
              </div>
            </div>
            <div class="col mb-4 ">
              <div class="card h-100">
                <img src="https://i.pinimg.com/originals/59/c8/e1/59c8e189794accc69e03ce4ded456d06.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">BENGAL</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="https://www.onefivenine.com/images/StateMaps/Bihar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bihar</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4 ">
                <div class="card h-100">
                  <img src="https://trackthemissingchild.gov.in/trackchild/state_map/rajasthan_map.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Rajasthan</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="https://i.pinimg.com/originals/99/ca/b8/99cab8228410a99bf9b78ebc6cf8059e.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Himachal Pradesh</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Divisions_of_Haryana.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Haryana</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="https://diligentias.com/wp-content/uploads/2019/05/Map-of-Andhra-pradesh.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Andhra Pradesh</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="https://www.onefivenine.com/images/StateMaps/Telangana.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Telangana</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="https://lh3.googleusercontent.com/proxy/zMou52Upghw1tjF9g-BRtflZup9tHWJHSwht7UsODb2pUpDnPPk_xWFM4fsJ7Oy9BgQhQDq84_G6PXI31qZU0ukFreN1My585oqTdAJ4YxrU" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Madhya Pradesh</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="https://www.onefivenine.com/images/StateMaps/Gujarat.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Gujrat</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="https://i.pinimg.com/736x/85/8c/4d/858c4d67f1b21cafe2027488ef8bbc88.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Chhatisgarh</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="https://slusi.dacnet.nic.in/dmwai/JHARKHAND/jharkhand.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Jharkhand</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </a>  

      <div class="row row-cols-1 row-cols-md-3 d-none " id="branches" >
        <div class="col mb-4">
            <div class="card h-100">
              <img src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_client_products/desktops/inspiron_desktops/27_7790/general/new-category-page-desktop-inspiron-27-7790-3880-800x620.png?fmt=png-alpha&amp;wid=800&amp;hei=620" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CSE</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://www.kcl.ac.uk/image-library/Press-Photos/blackboard-news.x27b7c8a0.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MnC</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://www.york.ac.uk/media/study/courses/undergraduate/electronics/EE-comp-BEng-ind.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ECE</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://i.pinimg.com/originals/36/b3/3c/36b33c5521530b0bbc4b85d1b7776e61.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">EE</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://cdn-images-1.medium.com/max/1600/1*t5oHrrnGqBXIUZXV4PwO4w.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ME</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://i1.wp.com/www.innovativewealth.com/wp-content/uploads/2015/01/products-made-from-petroleum.jpg?fit=2000%2C1364&ssl=1" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">PE</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://www.thermofisher.com/blog/mining/wp-content/uploads/sites/3/2016/04/istock_000018839383_medium.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">MME</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://media.istockphoto.com/photos/metal-wheel-concept-picture-id695596712?k=6&m=695596712&s=612x612&w=0&h=1XoXqA70WjSUQ18lA85tJ_HjQ2oNov7kifkGFTgO3cE=" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mechanical</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://college4u.in/wp-content/uploads/2019/04/chemical.jpg" alt="...">
              <div class="card-body">
                <h5 class="card-title">Chemical</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="https://miro.medium.com/max/9856/1*WbW8vAgegT66834sTHNdvA.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CIVIL</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab odit rem obcaecati officiis, ducimus quia natus sequi qui sint culpa omnis numquam soluta! Placeat, explicabo labore qui cumque ut adipisci eligendi quia fugiat unde perferendis autem numquam exercitationem reiciendis eveniet tempore quibusdam doloremque libero quisquam eum consectetur commodi delectus quae.</p>
              </div>
            </div>
          </div>
      </div>

      <div id="clubs" class="d-none" >Coming soonnnnn!!!!</div>
    
      <div>  <% params.forEach(function(sdt){ %>  
            <%= sdt.name %>
            <%= sdt.place %>
            <%= sdt.branch %>
            <%= sdt.club %>
            <%= sdt.placed %>
            <%= sdt.intern %>
            <%= sdt.image %>


            <hr>
            <% }) %>
    </div> 


      <script type="text/javascript"  src="main.js" > </script>



</body>
</html>